<mat-card>
    <mat-card-content>
        <mat-card-title>Newsletter Campaign</mat-card-title>
        <mat-card-subtitle>Overview of Newsletter Campaign</mat-card-subtitle>
        <div id="newsletter-chart" class="d-flex flex-column">
            <apx-chart [series]="rankingTable.series" [chart]="rankingTable.chart"
                [xaxis]="rankingTable.xaxis" [stroke]="rankingTable.stroke"
                [tooltip]="rankingTable.tooltip" [dataLabels]="rankingTable.dataLabels"
                [legend]="rankingTable.legend" [colors]="rankingTable.colors"
                [markers]="rankingTable.markers">
            </apx-chart>
        </div>
        <ul class="list-inline text-center p-t-10">
            <li>
                <h6 class="text-muted text-info m-0">
                    <i class="fa fa-circle font-10 m-r-10 "></i>Sent</h6>
            </li>
            <li>
                <h6 class="text-muted  text-success  m-0">
                    <i class="fa fa-circle font-10 m-r-10"></i>Clicked</h6>
            </li>
        </ul>
    </mat-card-content>
</mat-card>