<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- column -->
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- Row -->
                <div fxLayout="row" fxLayoutWrap="wrap">
                    <!-- column -->
                    <div fxFlex.gt-sm="50" fxFlex.gt-xs="50">
                        Leaderboard Page
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
        <div fxLayout="row wrap">
            <!-- Column-->
            <!-- <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
                <app-posts></app-posts>
            </div> -->
            <!-- Column-->
            <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
                <app-newsletter></app-newsletter>
            </div>
        
        </div>
    </div>
    <!-- column -->
</div>